
{% extends "index.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="table-responsive col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Category name</th>
                        <th scope="col">Avarage Trafic of Users</th>
                    </tr>
                </thead>
                <tr>
                    <td>search</td>
                    <td>112034</td>
                </tr>
                <tr>
                    <td>booking</td>
                    <td>5890</td>
                </tr>
                <tr>
                    <td>films</td>
                    <td>99223</td>
                </tr>
                <tr>
                    <td>memes</td>
                    <td>200000</td>
                </tr>
                <tr>
                    <td>cats</td>
                    <td>25000</td>
                </tr>
                <tr>
                    <td>dogs</td>
                    <td>64000</td>
                </tr>
                <tr>
                    <td>news</td>
                    <td>120225</td>
                </tr>
            </table>
        </div>
        <div class="table-responsive col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Category name</th>
                        <th scope="col">Topic name</th>
                    </tr>
                </thead>
                <tr>
                {% for vacancy in vacancies %}
                    <td> {{vacancy.category }} </td>
                    <td> {{vacancy.name}} </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
         </div>
     </div>
</div>

{% endblock %}
